<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>DSA</h1>
   <a href="/problemSolving"> <h2>Problem solving Part 4</h2></a>
   <a href="/patterns"> <h2>Problem solving patterns</h2></a>
   <a href="/recursion"> <h2>Recursion</h2></a>
   <a href="/search"> <h2>Search Algorithms</h2></a>
   <a href="/sorting"> <h2>Sorting Algorithms</h2></a>
   <a href="/dataS"> <h2>Data Structures</h2></a>
   <a href="/stacks"> <h2>Stacks</h2></a>
</body>
<script src="/scripts/bigO.mjs"></script>
</html>